# http://docs.travis-ci.com/user/languages/android/
language: android
jdk: oraclejdk8
sudo: false

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
    directories:
      - $HOME/.gradle/caches/
      - $HOME/.gradle/wrapper/

# https://github.com/travis-ci/travis-ci/issues/5648
android:
    components:
      - platform-tools
      - tools
      - build-tools-23.0.3
      - android-23
      - extra-android-m2repository
      - extra-google-m2repository
    script:
      - echo "Travis branch is $TRAVIS_BRANCH"
      - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
      - ./gradlew build