<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.chunyu.dev.yuriel.kotdebugtool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.chunyu.dev.yuriel.kotdebugtool.DemoApplication"
        android:icon="@mipmap/icon_opt"
        android:label="@string/app_name">

        <activity
            android:name="me.chunyu.dev.yuriel.kotdebugtool.DemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/__DemoAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="me.chunyu.dev.yuriel.kotdebugtool.ExampleActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />

        <!--<activity-->
            <!--android:name="com.exyui.android.debugbottle.components.injector.InjectorActivity"-->
            <!--android:theme="@style/__DemoAppActionBarTheme"/>-->

        <!--<activity android:name="com.exyui.android.debugbottle.components.spviewer.SPViewerActivity"-->
            <!--android:theme="@style/__DemoAppActionBarTheme"/>-->

        <!--<activity android:name="com.exyui.android.debugbottle.components.SettingsActivity"-->
            <!--android:theme="@style/__DemoAppActionBarTheme"/>-->

        <activity android:name="com.exyui.android.debugbottle.components.DTDrawerActivity"
            android:theme="@style/__DemoAppActionBarTheme"
            android:label="DebugTools"/>

    </application>

</manifest>
