<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.chunyu.yuriel.kotdebugtool.components">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:label="@string/app_name">
        <activity
            android:name=".__TestingActivity"
            android:theme="@style/__AppTheme" />
        <activity
            android:name=".injector.__InjectorActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".spviewer.__SPViewerActivity" />
        <activity android:name=".__SettingsActivity" />

        <activity
            android:name=".okhttp.__DisplayHttpBlockActivity"
            android:theme="@style/__dt_canary_BlockCanary.Base">
        </activity>

        <activity
            android:name=".__DTDrawerActivity"
            android:icon="@drawable/__dt_ic_bottle_64dp"
            android:screenOrientation="portrait"
            android:label="DebugTools">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".floating.__FloatingService" />
    </application>

</manifest>